.header, .logo, .nav {
  display: flex;
}
.header {
  width: 100%;
  justify-content: space-between;
  border-style: solid;
  border-width: thin;


}
.nav {
  width: 20%;
  justify-content: space-around;
  align-items: center;
}

.logo p {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;

}

hr {
border-width: thin;
}
/*
.column {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: thin;
}*/

.column .large {
  width: 630px;
  margin-right: 32px;
  border-style: solid;
  border-width: thin;

}

.column .large .sec2 .sec3 p h2 {
  border-style: solid;
  border-width: thin;
}

/*
.column .large. .sec3 p h2 {
  border-style: solid;
  border-width: thin;
}
*/

.column .medium {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;

}

.column .small {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  border-style: solid;
  border-width: thin;
}
