.header, .logo, .nav {
  display: flex;
}
.header {
  width: 100%;
  justify-content: space-between;
  border-style: solid;
  border-width: thin;


}
.nav {
  width: 20%;
  justify-content: space-around;
  align-items: center;
}

.logo p {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}

hr {
border-width: thin;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column {
  display:flex;
  border-style: solid;
  border-width: thin;
}

.column .large, .column .lrgsec2, .column .lrgsec3 {
  width: 630px;
  margin-right: 32px;
  border-style: solid;
  border-width: thin;
}

.txtpic1 p {
  border-style: solid;
  border-width: thin;
}

.txtpic2 p {
  border-style: solid;
  border-width: thin;
}

.txtpic3 p {
  border-style: solid;
  border-width: thin;
}

.column .medium, .column .medsec1, .column .medsec2 {
  width: 300px;
  margin-right: 32px;
  justify-content: center;
  border-style: solid;
  border-width: thin;
}

.txtpic4 p {
  border-style: solid;
  border-width: thin;
}

/* Small Column Section*/

.column .small, .column .smsec1 {
  width: 240px;
  justify-content:flex-end;
  align-content: center;
  border-style: solid;
  border-width: thin;
}
