.header, .logo, .nav {
  display: flex;
}
.header {
  width: 100%;
  justify-content: space-between;

}
.nav {
  width: 20%;
  justify-content: space-around;
  align-items: center;
}
.header p {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}

hr {
border-width: thin;


}
